# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
conda_env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# ROS2
build/
install/
log/

# Dataset / recordings
data/demonstrations/

# OS files
.DS_Store
Thumbs.db